.first-block{
    background-color: #EEEFF1;
    .navigation {
        padding-top: 79px;
        margin-bottom: 151px;
        display: flex;
        gap: 42px;
        justify-content: left;
        flex-wrap: wrap;
    }
}

.first-section {
    max-width: 540px;
    .first-section-h1 {
        margin-bottom: 60px;
    }
    .first-section-text {
        margin-bottom: 65px;
    }
}