.section-text-center {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
    .section-text-center-h2 {
        margin-top: 112px;
        margin-bottom: 50px;
    }
    .section-text-center-text {
        margin-bottom: 100px;
    }
}
