body {
  background: -webkit-linear-gradient(90deg, #65cdd5, #48d998, #28d299);
  background: linear-gradient(90deg, #65cdd5, #48d998, #28d299);
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.wrap {
  width: 30vw;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 25px;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.block-text {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.robot {
  height: 150px;
  display: inline-block;
}

.block-robot {
  display: flex;
}

.talk {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  min-width: 90%;
}

.talk-user {
  display: none;
  background: rgb(239 118 210 / 25%);
  min-width: 30%;
}

.block-input input {
  width: 95%;
  border-radius: 25px;
  padding: 15px;
  border: none;
}


@media screen and (max-width: 1700px) {
  body {
    font-size: 12px;
  }

  .wrap {
    min-height: 35%;
  }

}

@media screen and (max-width: 1200px) {
  body {
    font-size: 10px;
  }

  .wrap {
    min-height: 40%;
    justify-content: space-evenly;
  }

  .robot {
    height: 120px
  }

  .block-input input {
    width: 90%;
  }

}

@media screen and (max-width: 730px) {
  body {
    font-size: 7px;
  }

  .wrap {
    min-height: 20%;
    justify-content: space-evenly;
  }

  .robot {
    height: 80px
  }

  .text {
    width: 50%;
  }

  .block-input input {
    width: 85%;
  }

}

@media screen and (max-width: 490px) {
  .block-text {
    width: 40%
  }
}